<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/element/index.css">
    <title>Title</title>
    <script src="/js/vue/vue.js"></script>
    <script src="/js/element/index.js"></script>
    <script src="/js/common/jquery-1.8.3.js"></script>
    <style>
        .el-row {
            margin-bottom: 20px;
        }

        .login-box {
            margin-top: 20%;
            margin-left: 40%;
        }
    </style>
</head>
<body>
<form class="form-horizontal" id="form_table" action=""
      enctype="multipart/form-data" method="post">
    <input class="form-input" type="file" name="filename"/>
    <br/>
    <button type="submit" class="btn">开始导入</button>
</form>
<div class="login-box" id="app">
    <el-row>
        <el-col :span="8">
            <el-select style="width: 100%" v-model="messageData.objectType" placeholder="ObjectType">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="8">
            <el-input id="password" v-model="messageData.objectKeyId" type="text">
                <template slot="prepend">ObjectId</template>
            </el-input>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="8">
            <el-button id="login" v-on:click="quest" style="width:100%" type="primary">提交</el-button>
        </el-col>
    </el-row>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            options: [
                {
                    value: 'routeDetail',
                    label: '线路详情 routeDetail'
                }, {
                    value: 'routeBrief',
                    label: '线路简要 routeBrief'
                }, {
                    value: 'projectDetail',
                    label: '团队详情 projectDetail'
                }, {
                    value: 'projectBrief',
                    label: '团队简要 projectBrief'
                }, {
                    value: 'projectPeopleNumber',
                    label: '团队人数 projectPeopleNumber'
                }, {
                    value: 'orderDetail',
                    label: '订单详情 orderDetail'
                }, {
                    value: 'orderFinance',
                    label: '订单财务 orderFinance'
                }, {
                    value: 'visitorDetail',
                    label: '游客详情 visitorDetail'
                }, {
                    value: 'customerDetail',
                    label: '客户详情 customerDetail'
                }, {
                    value: 'customerBrief',
                    label: '客户简要 customerBrief'
                }, {
                    value: 'ticketPurchase',
                    label: '机票库存 ticketPurchase'
                }, {
                    value: 'visaDetail',
                    label: '签证详情 visaDetail'
                }, {
                    value: 'destination',
                    label: '目的地 destination'
                }, {
                    value: 'sightDetail',
                    label: '景点详情 sightDetail'
                }, {
                    value: 'businessArea',
                    label: '业务区域 businessArea'
                }, {
                    value: 'routeLabel',
                    label: '线路主题 routeLabel'
                }],
            messageData: {
                objectType: '',
                objectKeyId: ''
            },
            value: ''
        },
        methods: {
            quest: function () {
                var message = this.messageData;
                // message.objectType = this.value;
                if (message.objectType === '') {
                    this.$alert('请选择一个ObjectType', '错误提示', {
                        confirmButtonText: '确定'
                    });
                    return;
                }
                if (message.objectKeyId === '') {
                    this.$alert('请输入objectId', '错误提示', {
                        confirmButtonText: '确定'
                    });
                    return;
                }
                var test = null;
                var data = {"test": test};
                $.ajax({
                    url: '/hello/test',
                    type: 'post',
                    data: $.extend({}, data),
                    dataType: 'text',
                    success: function (data) {
                        alert(data)
                    },
                    error: function (data) {
                        alert(data);
                    }
                })
            }
        }
    })
</script>
</html>